<section class="jumbotron">
    <div class="container">
        <div class="row text-center">
            <h1><i>Movilizer</i></h1>
            <h3>The Next Best Thing</h3>
        </div>
        <div class="row text-center">
            <a class="btn btn-primary" href="#" role="button">Go to App</a>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <figure class="col-sm-1"></figure>
        <figure class="col-sm-4 text-left">
            <h2>Powerful architecture built based on SPA</h2>
            <p style="text-align:justify">
                The Movilizer web application is developed to harness the power of SPA – Smart Process API, a vocabulary
                that enables the management of semantic descriptions of process or data models and their engines. SPA
                consumes different interfaces and formats to map between their concepts and integrates them.
            </p>
        </figure>
        <figure class="col-sm-2"></figure>
        <figure class="col-sm-4">
            <img src="../img/movilizer/archi.jpg" height="280" width="280">
        </figure>
        <figure class="col-sm-1"></figure>
    </div>

    <div class="row">
        <figure class="col-sm-1"></figure>
        <figure class="col-sm-4">
            <img src="../img/movilizer/import.jpg" height="280" width="260">
        </figure>
        <figure class="col-sm-2"></figure>
        <figure class="col-sm-4 text-left">
            <h2>Import your own data</h2>
            <p style="text-align:justify">The Movilizer web application provides you with the flexibility of importing
                your own processes in several formats. Whether you develop a Movelet in the Movilizer Cloud or you want
                to import your own process model in BPMN or XES format, Movilizer web application handles different
                formats to make your analysis easier.</p>
        </figure>
        <figure class="col-sm-1"></figure>
    </div>

    <div class="row">
        <figure class="col-sm-1"></figure>
        <figure class="col-sm-4 text-left">
            <h2>Flexible Process Visualization</h2>
            <p style="text-align:justify">With the flexibility to switch between whole view and variant view of your
                process, Movilizer web application gives you the opportunity to explore fragments of your process and
                analyze them carefully. You can also freely scroll and zoom within your process.</p>
        </figure>
        <figure class="col-sm-2"></figure>
        <figure class="col-sm-4">
            <img src="../img/movilizer/visualization.jpg" height="280" width="260">
        </figure>
        <figure class="col-sm-1"></figure>
    </div>

    <div class="row">
        <figure class="col-sm-1"></figure>
        <figure class="col-sm-4">
            <img src="../img/movilizer/filter.jpg" height="280" width="260">
        </figure>
        <figure class="col-sm-2"></figure>
        <figure class="col-sm-4 text-left">
            <h2>Filter your data</h2>
            <p style="text-align:justify">Using several KPIs to investigate and assess your process, Movilizer web
                application allows you to apply several KPI to analyze and investigate your process.</p>
        </figure>
        <figure class="col-sm-1"></figure>
    </div>
</section>