    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About SPA-CORE</h2>
              <br/>
                <blockquote>
                    <p>The semantic process API (SPA) is a vocabulary and engine that enables
                        managing semantic descriptions of process/data-models and its instances.
                        SPA becomes the globally accepted academic standard and reference
                        implementation.
                        -- InES</p>
                </blockquote>
                <p>Coming from the original vision about the SPA, the view slightly shifted towards more generality. While the main </p>
                <p>focus for the first development phases are processes, the goal broadend to also support other domains. Thereby, three </p>
                <p>Use Cases are the current implementation drivers; namely Semantic Process integration over format and tool borders, </p>
                <p>Analytics like Process Mining and Process Optimization by combining usage data with process models.</p>
                <br/>
              </div>
        </div>
    </section>
